
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdministratorLayout.cshtml";
}
@if (TempData["Result"] != null)
{
    <div>
        <span>@TempData["Result"]</span>
    </div>
}
<h1>Admin Index</h1>

