@model AppUserListViewModel
@{
    ViewData["Title"] = "UpdateUser";
    Layout = "~/Areas/Administrator/Views/Shared/_AdministratorLayout.cshtml";
}

<div class="container-fluid">
    <form method="post">
        <div>
            <label>Email</label>
            <input type="email" asp-for="Email" class="form-control" />
        </div>
        <div>
            <label>Username</label>
            <input type="text" asp-for="Username" class="form-control" />
        </div>
        <div>
            <label>Birthdate</label>
            <input type="date" asp-for="BirthDate" class="form-control" />
        </div>
        <div>
            <label>Phone Number</label>
            <input type="number" asp-for="PhoneNumber" class="form-control" />
        </div>
        <div>
            <label>Address</label>
            <textarea rows="3" cols="5" asp-for="Address" class="form-control">

        </textarea>
        </div>

        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <div>
                    <label>Male</label>
                    <input type="radio" class="form-control" asp-for="Gender" value="Male" />
                </div>
                <div>
                    <label>Female</label>
                    <input type="radio" class="form-control" asp-for="Gender" value="Female" />
                </div>
            </div>
            <div>
                <a asp-action="ChangePassword" asp-controller="AppUser" asp-route-id="@Model.ID" class="btn btn-primary">Change Password</a>
            </div>
        </div>
        <div>
            <label>Profile Photo</label>
            <input type="file" name="profile-photo" class="form-control" />
        </div>

        <button type="submit" class="btn btn-warning">Update</button>
    </form>
</div>

