@model List<HotCat.BLL.ViewModels.CategoryViewModels.CategoryViewModel>
@{
    ViewData["Title"] = "Active";
    Layout = "~/Areas/Administrator/Views/Shared/_AdministratorLayout.cshtml";
}

<h1>Active</h1>

<div class="mb-2">
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>#</th>
                <th>Category Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Is Active</th>
                <th></th>
                <th><a href="/ManagementPanel/Category/Index" class="btn btn-dark btn-md">Hepsi</a></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.CategoryName</td>
                    <td>@item.Description</td>
                    <td>
                        @switch (item.Status)
                        {
                            case HotCat.Model.Enums.DataStatus.INSERTED:
                                <span>Eklenmiş</span>
                                break;
                            case HotCat.Model.Enums.DataStatus.UPDATED:
                                <span>Güncellenmiş</span>
                                break;
                            case HotCat.Model.Enums.DataStatus.DELETED:
                                <span>Silinmiş</span>
                                break;

                        }
                    </td>
                    <td>
                        @* @{
                    string result = item.IsActive;
                    <span> @result </span>
                    } *@
                        @item.IsActive
                    </td>
                    <td>
                        <a href="~/Administrator/Category/Update/@item.Id" class="btn btn-success btn-sm">Update</a>
                        <a href="~/Administrator/Category/Delete/@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>

            }

        </tbody>
    </table>
</div>
