@model HotCat.Model.Entities.Product
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Administrator/Views/Shared/_AdministratorLayout.cshtml";
}

<h1>
    <center>Update</center>
</h1>

<section class="content">
    <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header bg-dark mb-3">
                        <h3 class="card-title">@Model.ProductName</h3>
                    </div>
                    <form method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="ProductName"></label>
                                <input type="text" asp-for="ProductName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="UnitPrice"></label>
                                <input type="text" asp-for="UnitPrice" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="UnitsInStock"></label>
                                <input type="text" asp-for="UnitsInStock" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="ImagePath"></label>
                                <input type="text" asp-for="ImagePath" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="IsActive"></label>
                                <input type="checkbox" asp-for="IsActive" name="IsActive" checked />
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Güncelle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh; /* Tam sayfa yüksekliği */
    }
</style>

